.container {
    -webkit-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.6);
    box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.6);
    border-radius: 10px;
    position: relative;
    border-top: 10px solid #079dbf;
    margin: 20px 1.0875rem 1.45rem;
}

.title {
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    padding: 5px 10px;
    color: black;
    border-bottom: 2px solid #249dbf;
}

.title h1 {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;
}

.fetchedwith {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #505050;
    margin: 0;
    line-height: 20px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
    flex: 3;
    min-width: 300px;
}

.contentContainer {
    padding: 10px;
}

.columnBig {
    flex: 5;
    min-width: 330px;
}