.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.8rem 1.0875rem;
    border-bottom: 1px solid #e8e3e3;
}

.left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.left h2, .left .p {
    margin: 0;
    line-height: 1;
}

.left a {
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: bolder;
}