.navigation {
    display: flex;
    flex-flow: row wrap;
}

.navigation > span {
    font-size: 1.62rem;
    line-height: 1;
    padding-right: 5px;
}

.header {
    margin-bottom: 1.45rem;
    max-width: 960px;
    margin: 0 auto;
    padding: 0.8rem 1.0875rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f3f3f3;
    background: white;
    z-index: 1;
}

.header * {
    margin: 0;
}

.link {
    color: 'black';
    text-decoration: 'none';
}

.logo {

}